.products-style {
    .mat-column-id {
        min-width: 10vw;
        max-width: 12vw;
        padding-left: 50;
    }
    
    .mat-column-title {
        min-width: 10vw;
        max-width: 10vw;
        padding-left: 50;
    }
    
    .mat-column-description {
        min-width: 10vw;
        max-width: 12vw;
        padding-left: 50;
    }
}